<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">


  <servlet>
    <servlet-name>GoodPage</servlet-name>
    <servlet-class>com.wj.db._test.servlet.GoodPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoodPage</servlet-name>
    <url-pattern>/GoodPage</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>CheckServlet</servlet-name>
    <servlet-class>com.wj.db._test.servlet.CheckServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckServlet</servlet-name>
    <url-pattern>/CheckServlet</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>TokenServlet</servlet-name>
    <servlet-class>com.wj.db._test.servlet.TokenServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TokenServlet</servlet-name>
    <url-pattern>/TokenServlet</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>Hello</servlet-name>
    <servlet-class>com.wj.db._test.servlet.Hello</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Hello</servlet-name>
    <url-pattern>/Hello</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>Hello1</servlet-name>
    <servlet-class>com.wj.db_backup_old._test.servlet.Hello</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Hello1</servlet-name>
    <url-pattern>/Helloa</url-pattern>
  </servlet-mapping>
  

  
</web-app>